%table.table
  %thead
    %tr
      %th.title
        = link_to article.title, article_path(article.id), method: :get
        -# = link_to article.title, "/articles/#{article.id}/novels"
        -# %a.name-name{:href => article_novels_path(@article.id)}
        -#   = novel.title
        -# %a.name-name{:href => article_path(article.id)}
        -#   = article.title
      %th.author
        作者：
        %a.name-name{:href => "/users/#{article.user.id}"}
          = article.user.nickname
  %tbody
    %tr.secondRecord
      %td.secondRecord__category
        .text
          %p= simple_format(article.body.truncate(40, omission: '...')) 
      %td.secondRecord__link
        %p.created= article.created_at
        = link_to '詳細', article_path(article.id), method: :get
  -# %tfoot.lastRecord
  -#   %tr.lastRecord__base
  -#     %td.lastRecord__base--first
  -#     %td.lastRecord__base--second

.more-parts-one

