%table.table
  %thead
    %tr
      %th.title
        = link_to article.title.truncate(25, omission: '...'), article_path(article.id), method: :get
      %th.author
        作者：
        %a.name-name{:href => "/users/#{article.user.id}"}
          = article.user.nickname
  %tbody
    %tr.secondRecord
      %td.secondRecord__category
        .text
          %p= safe_join(article.body.truncate(50, omission: '...').split("\n"), tag(:nbsp))
      %td.secondRecord__link
        = article.created_at.strftime('%Y/%m/%d')
        = article.created_at.strftime('%H:%M')
        %span 投稿
