- @article.novels.each do |novel|
  .mb-2
    %span
    = link_to "/articles/#{@article.id}/novels/#{novel.id}" do
      %span.novelTitle= novel.title
    %span= novel.created_at.strftime('%Y/%m/%d')
    %span= novel.created_at.strftime('%-H:%-M')
    %span 投稿
    - if novel.user == current_user
      = link_to "編集", edit_article_novel_path(@article.id, novel), method: :post, remote: true, class: "edit-novel"
    - if novel.user == current_user
      = link_to "削除", article_novel_path(@article.id, novel), method: :delete, remote: true, class: "delete-novel"
