.more-box
  .more-parts-one
        
  .text
    作者:
    %a.name-name{:href => "/users/#{@article.user.id}"}
      = @article.user.nickname
    %p.created= @article.created_at
    %span 投稿
    %br
    %br
    %p.articleTitle= @article.title
    %p= safe_join(@article.body.split("\n"), tag(:br))
  .more-pict
    -# .more{:style => "background-image: url(#{@tweet.image});"}
  .container

    .comments
      %h4.line
      - if @novels
        - sum = 0
        - @novels.each do |novel|
          = sum +=1
          %p.comment
            %strong
              -# = link_to novel.user.nickname, "/users/#{novel.user_id}"


              = link_to novel.user.nickname, "articles/novels/#{novel.id}"

              
              -# = link_to "小説へ", article_novel_path(novel.id), method: :get
              ：
              
            = novel.id
            = novel.title

