.contents.row
  .container
    .container-main
      %br
      前書きの編集は
      = link_to "こちら", edit_article_path(anchor: "topic"), class: "visit"
      %div{:id => "novel-article-#{@article.id.to_s}"}
      - if current_user
        .more-parts__edit
          %h3.top
            ストーリーの作成
          %h5 ※この部分は「ストーリーの作成」及び、「次話作成」フォームです。
          %br
          .comments
            .card-body
              = form_with model:[@article, Novel.new], class: "input-form" do |f|
                = f.hidden_field :user_id, value: current_user.id
                = f.hidden_field :article_id, value: @article.id
                = f.text_field :title  ,class: "form-control", id:"article_title",placeholder: "タイトル", autocomplete: :on
                = f.text_area :body, placeholder: "本文" , rows: "10", id:"article_body",autocomplete: :on
                = f.submit "投稿する", class: "btc"
                .comments
                %br
                  作成済みストーリー
                  - if @novels
                    = render partial: "novel_list", article: @article
              - if user_signed_in?
                = link_to ">>マイページへ戻る" ,"/users/#{current_user.id}"
      %br
      %br
      .fixForm
        = form_with model: @article, local: true, class: "input-form" do |form|
          %h3.head
            前書きの編集をする
          = render partial: "form", locals: { form: form }
        %div#topic