.more-box
  .more-parts-one
  .textArticle
    作者:
    %a.name-name{:href => "/users/#{@article.user.id}"}
      = @article.user.nickname
    %br
    %br
    .articleTitle
      %span.articleTitle__box
        = @article.title
    %p.body= safe_join(@article.body.split("\n"), tag(:br))
  .container
    .comments
      %h4.line
      - i=0
      - if @novels
        - @novels.each do |novel|
          %p.comment
            %strong
              = link_to novel.user.nickname, "/articles/#{@article.id}/novels/#{novel.id}"
              = novel.title
              = novel.body
    - @article.novels.each do |novel|
      - i +=1
      %table.showTable
        %thead.showTable__thead
          %tr.showTable__thead--tr
            %th.showTable__thead--tr__one
              = link_to "/articles/#{@article.id}/novels/#{novel.id}?page=#{i}" do
                = novel.title
            %th.showTable__thead--tr__two
              %span= novel.created_at.strftime('%Y/%m/%d')
              %span= novel.created_at.strftime('%H:%M')
            %th.showTable__thead--tr__three
              %span 投稿

  .more-box__review
    .more-pict
    .comments
      %h4 ＜コメント一覧＞
      - if @comments
        - @comments.each do |comment|
          %p.comment
            %strong
              = link_to comment.user.nickname, "/users/#{comment.user_id}"
              ：
              = comment.text
    .more-parts-one
    - if current_user
      = form_with(model: [@article, Impression.new], local: true, class:"input-form") do |f|
        = f.hidden_field :user_id, value: current_user.id
        = f.hidden_field :article_id, value: @article.id
        = f.text_area :body, placeholder: "コメント入力欄", rows: "4" , class:"form" ,id:"article_body"
        = f.submit "投稿する" , class:"btc"
    - else
      %strong
        %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
