%table.table
  %thead
    %tr
      %th.title
        %a.name-name{:href => tweet_path(tweet.id)}
          = tweet.title
      %th.author
        作者：
        %a.name-name{:href => "/users/#{tweet.user.id}"}
          = tweet.user.nickname
  %tbody
    %tr.secondRecord
      %td.secondRecord__category
        .text
          %p= safe_join(tweet.text.truncate(50, omission: '...').split("\n"), tag(:nbsp))
      %td.secondRecord__link
        = tweet.created_at.strftime('%Y/%m/%d')
        = tweet.created_at.strftime('%H:%M')
        %span 投稿
.more-parts-one

