.more-box
  .more-parts-one
    .name
      .circle
      %a.name-name{:href => "/users/#{tweet.user.id}"}
        = tweet.user.nickname
        %span さん
    %ul.more_list
      %li.more_list__details
        = link_to '詳細', tweet_path(tweet.id), method: :get
      - if user_signed_in? && current_user.id == tweet.user_id
        %li.more_list__details
          = link_to '編集', edit_tweet_path(tweet.id), method: :get
        %li.more_list__details
          = link_to '削除', tweet_path(tweet.id), method: :delete
  .more-pict
    .more{:style => "background-image: url(#{tweet.image});"}
  .text
    %p.created= tweet.created_at
    %p= tweet.text
