
<%# <%= image_tag @tweet.image.url(:medium), class: "card" %> 
<div class="more-box">
  <div class="more-parts-one">
    <span class="name">
      <a href="/users/<%= tweet.user.id %>">
        <%= tweet.user.nickname %><span class="post-user">さん</span>
      </a>
    </span>
    <ul class="more_list">
      <li class="more_list__details">
        <%= link_to '詳細', tweet_path(tweet.id), method: :get %>
      </li>
      <% if user_signed_in? && current_user.id == tweet.user_id %>
      <li class="more_list__details">
          <%= link_to '編集', edit_tweet_path(tweet.id), method: :get %>
        </li>
      <li class="more_list__details">
          <%= link_to '削除', tweet_path(tweet.id), method: :delete %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="more-pict">
    <div class="more" style="background-image: url(<%= tweet.image %>);">
    </div>
  </div>
  <div class="text">
    <p class="created"><%= tweet.created_at %></p>
    <p><%= tweet.text %></p>
  </div>
</div>