<div class="more-box">
  <div class="more-parts-one">
    <div class="name">
      <div class="circle"></div>
      <a class="name-name" href="/users/<%= @tweet.user.id %>">
        <%= @tweet.user.nickname %>
      </a>
    </div>
    <ul class="more_list">
      <% if user_signed_in? && current_user.id == @tweet.user_id %>
      <li class="more_list__details">
          <%= link_to '編集', edit_tweet_path(@tweet.id), method: :get %>
        </li>
      <li class="more_list__details">
          <%= link_to '削除', tweet_path(@tweet.id), method: :delete %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="more-pict">
    <div class="more" style="background-image: url(<%= @tweet.image %>);">
    </div>
  </div>
  <div class="text">
    <p class="created"><%= @tweet.created_at %></p>
    <p><%= @tweet.text %></p>
    
  </div>
</div>
<div class="container">
  <div class="container-in">
    <% if current_user %>
      <%= form_with(model: [@tweet, @comment], local: true, class:"input-form") do |form| %>
        <%= form.text_area :text, placeholder: "コメント欄", rows: "1" , class:"yah" %>
        <%= form.submit "投稿する" , class:"bt"%>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments">
      <h4 class="line">＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p class="comment">
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
