.more-box
  .more-parts-one
    .name
      .circle
      %a.name-name{:href => "/users/#{@tweet.user.id}"}
        = @tweet.user.nickname
    %ul.more_list
      - if user_signed_in? && current_user.id == @tweet.user_id
        %li.more_list__details
          = link_to '編集', edit_tweet_path(@tweet.id), method: :get
        %li.more_list__details
          = link_to '削除', tweet_path(@tweet.id), method: :delete
  .text
    %p.created= @tweet.created_at
    %p= safe_join(@tweet.text.split("\n"), tag(:br))
  .more-pict
    .more{:style => "background-image: url(#{@tweet.image});"}
  .container
    .container-in
      - if current_user
        = form_with(model: [@tweet, @comment], local: true, class:"input-form") do |form|
          = form.text_area :text, placeholder: "コメント欄", rows: "1" , class:"yah"
          = form.submit "投稿する" , class:"bt"
      - else
        %strong
          %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※

      = link_to  "新規作成", new_tweet_article_path(@tweet.id), class: "post"
      .comments
        %h4.line ＜コメント一覧＞
        - if @comments
          - @comments.each do |comment|
            %p.comment
              %strong
                = link_to comment.user.nickname, "/users/#{comment.user_id}"
                ：
              = comment.text
