= render "layouts/side"
.contents.row
  -if user_signed_in?
    .user-nav
      %br
        %span
          = button_to  "小説を投稿する", new_article_path, class: "postBt", method: :get
      .user-nav__box
      %hr
  %p.upper
    = @nickname
    さんの投稿小説一覧
    %br
  .switchingSpace
    %span.switchingBt 投稿小説一覧
    = button_to  "活動報告一覧", home_path,class: "switchingBlank", method: :get
  - @articles.each do |article|
    = render partial: "users/article", locals: { article: article }