.more-box
  - @articles.each do |novel|
    .more-parts-one
    .textArticle
      %strong
        = link_to "/articles/#{@articleNovel.id}" do
          = @articleNovel.title
    .textArticle
      作者:
      %a.name-name{:href => "/users/#{@novel.user.id}"}
        = @novel.user.nickname
      %br
      %br
      .articleTitle
        %span.articleTitle__box
          = novel.title
      %p.body= safe_join(novel.body.split("\n"), tag(:br))
    .novelMenu
      .novelMenu__one
        = paginate @articles
      .novelMenu__two
      .novelMenu__three
        = link_to "/articles/#{@articleNovel.id}" do
          目次

          - if current_user
            = form_with(model: [@article, Impression.new], local: true, class:"input-form") do |f|
              = f.hidden_field :user_id, value: current_user.id
              = f.hidden_field :article_id, value: @article.id
              = f.text_area :body, placeholder: "コメント入力欄", rows: "4" , class:"form" ,id:"article_body"
              = f.submit "投稿する" , class:"btc"
          - else
            %strong
              %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※