.more-box
  .more-parts-one
    .name
      -# .circle
      -# %a.name-name{:href => "/users/#{@novel.user.id}"}
        = @novel.user.nickname
    %ul.more_list
      -# - if user_signed_in? && current_user.id == @novel.user_id
      -#   %li.more_list__details
      -#     = link_to '編集', edit_novel_path(@novel.id), method: :get
      -#   %li.more_list__details
      -#     = link_to '削除', novel_path(@novel.id), method: :delete
  .text
    %p.created= @novel.created_at
    %br
    %p.created= @novel.title
    %p= safe_join(@novel.body.split("\n"), tag(:br))
  .more-pict
    -# .more{:style => "background-image: url(#{@tweet.image});"}
  .container
    -# - if @article.previous.present?
    -#   = link_to "PREV", article_path(@article.previous), class: "btn_arrow_back"

    -# - if @article.next.present?
    -#   = link_to "NEXT",article_path(@article.next), class: "btn_arrow"



  -# - if @novel.previous.present?
  -#   = link_to novel_path(@novel.previous.id), class: 'link' do
  -#     = @novel.previous.title
  -# | TOP |
  -# - if @novel.next.present?
  -#   = link_to novel_path(@novel.next.id), class: 'link' do
  -#     = @novel.next.title