.more-box
  .more-parts-one
    - if current_user
      .more-parts__edit
        この部分は作者の編集用ツールです。
        = form_with(model: [@article, @novel], local: true, class:"inputArticle-form") do |form|
          = form.text_field :title, placeholder: "タイトル", class:"yah"
          = form.text_area :body, placeholder: "本文", rows: "10"
          = form.submit "投稿する" , class:"bt"
        %ul.more_list
          - if user_signed_in? && current_user.id == @article.user_id
            %li.more_list__details
              = link_to '編集', edit_article_path(@article.id), method: :get
            %li.more_list__details
              = link_to '削除', article_path(@article.id), method: :delete
        %hr
    - else
        
  .text
    -# 作者:
    -# %a.name-name{:href => "/users/#{@article.user.id}"}
    -#   = @article.user.nickname
    -# %p.created= @article.created_at
    -# %span 投稿
    -# %br
    -# %br
    -# %p.articleTitle= @article.title
    -# %p= safe_join(@article.body.split("\n"), tag(:br))
  .more-pict
    -# .more{:style => "background-image: url(#{@tweet.image});"}
  .container

    .comments
      %h4.line
      - if @novels
      - @novels.each do |novel|
        %p.comment
          %strong
            -# = link_to novel.user.nickname, "/users/#{novel.user_id}"


            = link_to novel.user.nickname, "articles/novels/#{novel.id}"

            
            -# = link_to "小説へ", article_novel_path(novel.id), method: :get
            ：
            
          = novel.id
          = novel.title
          = novel.created_at
            %span 投稿










-# .more-box
-#   .more-parts-one
-#     .name
-#       -# .circle
-#       -# %a.name-name{:href => "/users/#{@novel.user.id}"}
-#       = @novel.user.nickname
-#     %ul.more_list
-#       -# - if user_signed_in? && current_user.id == @novel.user_id
-#       -#   %li.more_list__details
-#       -#     = link_to '編集', edit_novel_path(@novel.id), method: :get
-#       -#   %li.more_list__details
-#       -#     = link_to '削除', novel_path(@novel.id), method: :delete
-#   .text
-#     %p.created= @novel.created_at
-#     %br
-#     %p.created= @novel.title
-#     %p= safe_join(@novel.body.split("\n"), tag(:br))
-#   .more-pict
-#     -# .more{:style => "background-image: url(#{@tweet.image});"}
-#   .container
-#     -# - if @article.previous.present?
-#     -#   = link_to "PREV", article_path(@article.previous), class: "btn_arrow_back"

-#     -# - if @article.next.present?
-#     -#   = link_to "NEXT",article_path(@article.next), class: "btn_arrow"



-#   -# - if @novel.previous.present?
-#   -#   = link_to novel_path(@novel.previous.id), class: 'link' do
-#   -#     = @novel.previous.title
-#   -# | TOP |
-#   -# - if @novel.next.present?
-#   -#   = link_to novel_path(@novel.next.id), class: 'link' do
-#   -#     = @novel.next.title