!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "https://use.fontawesome.com/releases/v5.6.1/css/all.css", :rel => "stylesheet"}/
    %title Proto
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.header
      .header-row
        .titleBox
          %h1.title-name
            %a.tilte-logo{:href => "/"} Proto
          .user-nav
      .second-line
        = render "layouts/commonBar"
    .main
      - if flash[:notice]
        .alert.alert-info= flash[:notice]
      - if flash[:alert]
        .alert.alert-danger= flash[:alert]
      .base
        = yield
      .linkBottun
        %a.tilte-logo{:href => "/"} TOP
      .footer
        .second-line
          = render "layouts/commonBar"
        %p.cp Copyright Proto 2020.

