!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "https://use.fontawesome.com/releases/v5.6.1/css/all.css", :rel => "stylesheet"}/
    %title Proto
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %header.header
      .header-row
        %h1.title-name
          %a.tilte-logo{:href => "/"} Proto
        = form_with(url: search_tweets_path, local: true, method: :get, class: "search-form") do |form|
          = form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input"
          = form.submit "検索", class: "search-btn"
        .user_nav.grid-6
      .second-line
        = link_to "記事へ", "/articles" ,class: "toMypage"
        - if user_signed_in?
          %ul.user__info
            %li
              %i.fas.fa-home
                = link_to "マイページ", "/users/#{current_user.id}" ,class: "toMypage"
              %i.fas.fa-sign-out-alt
                = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "toLogout"
          = link_to  "記事を投稿する", new_article_path, class: "post"
          = link_to  "活動報告を投稿する", new_tweet_path, class: "post"
        - else
          = link_to "ログイン", new_user_session_path, class: 'post'
          = link_to "新規登録", new_user_registration_path, class: 'post'
    .main
      .base
        .side
          .side__top
          .side__center
          .side__bottom
        = yield
      .linkBottun
        %a.tilte-logo{:href => "/"} TOP
      .footer
        %p Copyright Proto 2020.

